# Binaries for programs and plugins for windows?
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dump files / logs
dumps/

# binary output
dir_processor/dir_processor
http_frontend/http_frontend
http_receiver/http_receiver
location_logger/location_logger
base64parser/base64parser

# ignore protobuffers
protobufs/*.pb.go
