/* Mobile first development - ahum  */
.sitecontainer {
   max-width: 1300px;
   margin: auto;
}

#mainmap {
   height: 320px;
}

/* General content */

.contentblock {
   margin-left: 0.3em;
   margin-right: 0.3em;
   margin-bottom: 2em;
}

div.contentblock:first-child {
   margin-top: 0.3em;
}

h1 {
   font-size: 2em;
}
h2 {
   margin-top: 0.8em;
   font-size: 1.6em;
}
h3 {
   margin-top: 0.5em;
   font-size: 1.3em;
}

/* Main table formating. Make it pretty */
table {
   width: 100%;
}

tr.headsep > td {
   background-color: var(--second-bg-color);
   color: var(--second-text-color);
   border-radius: 5.4em;
   padding: 0.5em;
}

tr {
   border-bottom: 1px solid var(--third-bg-color);
}

td {
   padding: 0.2em;
   line-height: 1.2em;
}

td.right {
   text-align: right;
}

.level,
.area,
.device {
   background-color: var(--third-bg-color);
   color: var(--third-text-color);
   padding-left: 0.4em;
   padding-right: 0.4em;
   border-radius: 0.4em;
}

/* Top bar stuff */

.topbar {
   height: var(--topbar-height);
   display: block;
   position: sticky;
   z-index: 10000;
   top: 0;
   background-color: var(--first-bg-color);
}

.topbar p {
   position: absolute;
   left: 50px;
   top: 3px;
   font-size: 2em;
   color: var(--first-text-color);
   text-align: right;
}

#menuToggle {
   display: block;
   position: absolute;
   z-index: 2001;
   width: 100%;
}

#menuToggle input {
   /* The input box is used to perform the 'click'. It has a nice state that you can use in CSS */
   opacity: 0;
   width: var(--topbar-height);
   height: var(--topbar-height);
   display: block;
   cursor: pointer;
   position: absolute;
}

#menuToggle > div.burgers {
   margin-top: 8px;
   position: absolute;
   top: 0px;
   left: 5px;
   z-index: -1;
}

/* The actual lines of the hamburger */
#menuToggle > div.burgers > span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: var(--first-highlight-color);
   border-radius: 3px;

   z-index: 2001;
}

#menu {
   margin-top: var(--topbar-height);
   background: var(--first-text-color);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
}

#menu li {
   font-size: 1.5em;
   color: var(--second-text-color);
   line-height: 1.5em;
}

#menuToggle input:checked ~ ul {
   visibility: visible;
}

#menuToggle input ~ ul {
   visibility: hidden;
}

#menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: var(--second-bg-color);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0, 0);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
}
/* Menu stuff below here. See https://codepen.io/erikterwan/pen/EVzeRP */
/*

#menuToggle {
   display: block;
   position: relative;
   top: 7px;
   left: 5px;

   z-index: 2001;

   -webkit-user-select: none;
   user-select: none;
}

#menuToggle a {
   text-decoration: none;
   color: #232323;

   transition: color 0.3s ease;
}

#menuToggle a:hover {
   color: var(--second-highlight-color);
}

#menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;

   opacity: 0; 
   z-index: 2002; 

   -webkit-touch-callout: none;
}


#menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;

   background: var(--first-highlight-color);
   border-radius: 3px;

   z-index: 2001;

   transform-origin: 4px 0px;

   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
}

#menuToggle span:first-child {
   transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: var(--second-bg-color);
}


#menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
}

#menu {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;

   background: var(--first-text-color);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;

   transform-origin: 0% 0%;
   transform: translate(-100%, 0);

   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
   padding: 10px 0;
   font-size: 1.5em;
   color: var(--second-text-color);
}

#menuToggle input:checked ~ ul {
   transform: none;
}
*/
