.sitecontainer {
   max-width: 1200px; /* Mobile first development - ahum  */
   margin: auto;
   font-size: 1.125em;
   font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

@media only screen and (min-width: 600px) {
   #mainmap {
      height: 600px;
   }
}

@media only screen and (max-width: 600px) {
   #mainmap {
      height: 320px;
   }
}

#mainmap {
   z-index: 1;
   border: 1px solid var(--main-text-color);
   border-radius: var(--second-border-radius);
}

/* General content */

.contentblock {
   margin-left: 0.3em;
   margin-right: 0.3em;
   margin-bottom: 2em;
}

div.contentblock:first-child {
   margin-top: 0.3em;
}

h1 {
   font-size: 2em;
}
h2 {
   margin-top: 0.8em;
   font-size: 1.6em;
}
h3 {
   margin-top: 0.5em;
   font-size: 1.3em;
}

/* Main table formating. Make it pretty */
table {
   width: 100%;
}

tr.headsep > td {
   background-color: var(--second-bg-color);
   color: var(--second-text-color);
   border-radius: var(--first-border-radius);
   padding: 0.5em;
}

tr {
   border-bottom: 1px solid var(--third-bg-color);
}

td {
   padding: 0.2em;
   line-height: 1.2em;
}

td.right {
   text-align: right;
}

.level,
.area,
.device {
   background-color: var(--third-bg-color);
   color: var(--third-text-color);
   padding-left: 0.4em;
   padding-right: 0.4em;
   border-radius: var(--second-border-radius);
}

/* Top bar stuff */

.topbar {
   height: var(--topbar-height);
   display: block;
   position: sticky;
   top: 0;
   background-color: var(--first-bg-color);
   border-bottom-left-radius: var(--first-border-radius);
   border-bottom-right-radius: var(--first-border-radius);
   z-index: 2;
}

.topbar p {
   position: absolute;
   left: 50px;
   top: 3px;
   font-size: 2em;
   color: var(--first-text-color);
   text-align: right;
}

/* Menu stuff below here. See https://codepen.io/erikterwan/pen/EVzeRP for inspiration */
#menuToggle {
   display: block;
   position: absolute;
   width: 100%;
}

#menuToggle input {
   /* The input box is used to perform the 'click'. It has a nice state that you can use in CSS */
   opacity: 0;
   width: var(--topbar-height);
   height: var(--topbar-height);
   display: block;
   cursor: pointer;
   position: absolute;
   z-index: 1001; /* just above map and everything else*/
}

#menuToggle > div.burgers {
   position: absolute;
   height: var(--topbar-height);
   top: 10px;
   left: 5px;
   margin: auto;
}

/* The actual lines of the hamburger */
#menuToggle > div.burgers > span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: var(--first-highlight-color);
   border-radius: 3px;
}

#menu {
   margin-top: var(--topbar-height);
   background: var(--first-text-color);
   list-style-type: none;
}

#menu li {
   font-size: 1.5em;
   color: var(--second-text-color);
   line-height: 1.5em;
}

#menuToggle a {
   text-decoration: none;
   padding-left: 0.5em;
}

#menuToggle li:hover {
   background-color: var(--first-bg-color);
}

#menuToggle input:checked ~ ul {
   visibility: visible;
   height: 100%;
}

#menuToggle input ~ ul {
   visibility: hidden;
   height: 0px;
}

#menuToggle input:checked ~ div.burgers > span:first-child {
   transform: translate(0px, 9px) rotate(45deg);
}
#menuToggle input:checked ~ div.burgers > span:nth-child(2) {
   opacity: 0;
}

#menuToggle input:checked ~ div.burgers > span:last-child {
   transform: translate(00px, -9px) rotate(-45deg);
}

/* FOOTER */
#footer > p {
   background-color: var(--first-bg-color);
   color: var(--first-text-color);
   border-top-left-radius: var(--first-border-radius);
   border-top-right-radius: var(--first-border-radius);

   padding: 0.5em;
   text-align: center;
}
